:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

body {
    background: var(--white);
    font-family: 'Roboto', sans-serif;
    color: #2e2f42;
    /* width: 1128px; */
    height: 420px;
}
/* header */
header {
    border-bottom: 1px solid var(--cornflower);
    width: 1440px;
    height: 72px;  
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 156px;  
    padding-right: 156px;
}

a{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-decoration: none;
}

.head-nav{
    display: flex;
}

.head-ul-1{
    display: flex;
    gap: 40px;
    /* margin-top: 24px;
    margin-bottom: 24px; */
}

.head-ul-2{
    display: flex;
    gap: 40px;
    /* margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 156px; */
    margin-left: 332px;
}   

.menu-nav {
    width: 261px;
    height: 24px;
} 

.menu-nav:hover{
    color: var(--ocean);
}

.menu-nav:focus{
    color: var(--ocean);
}

.logo{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
    width: 115px;
    height: 24px;
    font-family: var(--second-family);
    margin-right: 76px;
}

.logo:hover{
    cursor: pointer;
}

.logo:focus{
    cursor: pointer;
}

.logo-span{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    width: 115px;
    height: 24px;
    font-family: var(--second-family);
}

.address-konto{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.address-konto:hover{
    color: var(--ocean);
    cursor: pointer;
}

.address-konto:focus{
    color: var(--ocean);
    cursor: pointer;
}

/* hero */
.hero{
    width: 1440px;
    height: 600px;
    background: var(--navy-blue);
}

.hero-big{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    padding: 188px 472px 48px;
}

button{
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
    cursor: pointer;

    margin: 0px 635px 188px;
    white-space: nowrap;
}

button:hover{
    background: var(--ocean);
    cursor: pointer;
}
button:focus{
    background: var(--ocean);
    cursor: pointer;
}

/* Our Features */

.hidden{
    visibility: hidden;
}

.sec-of-ul{
    display: flex;
    padding: 120px 156px;
    gap: 24px;
}

.sec-of{
    /* width: 1440px; */
    height: 344px;
}

.sec-of-li{
    width: 264px;
    height: 104px;
}

.sec-of-f-h{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.sec-of-f-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* Our Team */
.sec-ot{
    /* width: 1440px; */
    height: 732px;
}
.sec-ot-plus{
    background: var(--cloud);
}

.sec-ot-ih{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    white-space: nowrap;
    flex-wrap: nowrap;
    padding: 120px 639px 72px;
}

.sec-ot-ul{
    display: flex;
    gap: 24px;
    margin: 0 156px;
}

.sec-ot-l{
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
    margin-bottom: 120px;
}

.sec-ot-h{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    white-space: nowrap;
    margin: 32px 0px 8px 0px;
    text-align: center;
}

.sec-ot-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
    margin-bottom: 32px;
}

.sec-ot-img{
    display: block;
}

/* Our Portfolio */
.sec-op{
    /* width: 1440px; */
    height: 1240px;
}

.sec-op-ih{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);

    padding: 120px 455px 72px;

}

.sec-op-ul{
    width: 1128px;
    height: 420px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin: 0px 156px 0px 156px;
} 

.sec-op-li{
    width: calc((100% - 48px) / 3);
    height: 420px;
}

.sec-op-pod-li{
    border-bottom: 1px solid var(--cornflower);
    border-left: 1px solid var(--cornflower);
    border-right: 1px solid var(--cornflower);
    padding: 32px 16px;
    width: 360px;
    height: 120px;
}

.sec-op-img{
    width: 360px;
    height: 300px;
    display: block;
}

.sec-op-h{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.sec-op-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
/* footer */
footer{
    /* width: 1440px; */
    height: 312px;
    background: var(--navy-blue);
    padding: 100px 1020px 100px 156px;
}

.logo-footer{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
}

.logo-span-footer{
   font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.footer-p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    margin-top: 16px;
}

.container{
    width: 1158px;
}