:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}


h1, h2, h3, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
} */

body {
    background: var(--white);
    font-family: 'Roboto', sans-serif;
    color: #2e2f42;
}

/* header */
.header {
    border-bottom: 1px solid var(--cornflower);
    /* width: 1440px; */
    /* height: 72px;   */
    display: flex;
    /* padding-top: 24px;
    padding-bottom: 24px; */
    /* padding-left: 156px;  
    padding-right: 156px; */

    justify-content: space-between;
    align-items: center;
}

.link{
    text-decoration: none;
}

.head-nav{
    display: flex;
}

.head-ul-1{
    display: flex;
    gap: 40px;
    /* margin-top: 24px;
    margin-bottom: 24px; */
}

.head-ul-2{
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    /* margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 156px; */
    /* margin-left: 332px; */
}   

.menu-nav {
    /* width: 261px;
    height: 24px; */

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-decoration: none;
    padding: 24px 0;
} 

.menu-nav:hover{
    color: var(--ocean);
}

.menu-nav:focus{
    color: var(--ocean);
}

.logo{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
    font-family: var(--second-family);
    margin-right: 76px;
}

.logo:hover{
    cursor: pointer;
}

.logo:focus{
    cursor: pointer;
}

.logo-span{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    width: 115px;
    height: 24px;
    font-family: var(--second-family);
}

.address-konto{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.address-konto:hover{
    color: var(--ocean);
    cursor: pointer;
}

.address-konto:focus{
    color: var(--ocean);
    cursor: pointer;
}

/* hero */
.hero{
    /* width: 1440px; */
    /* height: 600px; */
    background: var(--navy-blue);

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 188px 0;
    
}

.hero-big{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    max-width: 496px;
    margin: 0 auto 48px;
    /* padding-top: 188px; */
    /* padding-bottom: 48px; */
}

.button{
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    /* width: 169px;
    height: 56px; */

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
    cursor: pointer;

    /* margin-bottom:188px; */
    white-space: nowrap;
}

.button:hover{
    background: var(--ocean);
    cursor: pointer;
}
.button:focus{
    background: var(--ocean);
    cursor: pointer;
}

/* Our Features */

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.sec-of{
    /* width: 1440px; */
    /* height: 344px; */
    padding: 120px 0;
}

.sec-of-ul{
    display: flex;
    /* padding-top: 120px;
    padding-bottom: 120px; */
    gap: 24px;
}

.sec-of-li{
    width: 264px;
}

.sec-of-f-h{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.sec-of-f-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* Our Team */
/* .sec-ot{
    width: 1440px; 
    height: 732px; 
} */
.sec-ot-plus{
    background: var(--cloud);
    padding: 120px 0;
}

.sec-ot-ih{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    white-space: nowrap;
    flex-wrap: nowrap;
    /* padding-top: 120px;
    padding-bottom: 72px; */
    margin-bottom: 72px;
}

.sec-ot-ul{
    display: flex;
    gap: 24px;
}

.sec-ot-l{
    border-radius: 0 0 4px 4px;
    /* padding: 0px 0px 32px; */
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
    /* margin-bottom: 120px; */
}

.sec-ot-h{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    white-space: nowrap;
    margin-bottom: 8px;
    text-align: center;
}

.sec-ot-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
    /* margin-bottom: 32px; */
}

.sec-ot-text{
    padding: 32px 16px;
}

.sec-ot-img{
    display: block;
}

/* Our Portfolio */
.sec-op{
    /* width: 1440px; */
    /* height: 1240px; */
    padding: 120px 0;
}

.sec-op-ih{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);

    /* padding-top: 120px; */
    margin-bottom: 72px;
}

.sec-op-ul{
    /* width: 1128px;
    height: 420px; */
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
} 

.sec-op-li{
    width: calc((100% - 48px) / 3);
}

.sec-op-pod-li{
    border-bottom: 1px solid var(--cornflower);
    border-left: 1px solid var(--cornflower);
    border-right: 1px solid var(--cornflower);
    padding: 32px 16px;
    /* width: calc((100% - 48px) / 3); */
    /* height: 120px; */
}

.sec-op-img{
    /* width: 360px;
    height: 300px; */
    display: block;
}

.sec-op-h{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.sec-op-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
/* footer */
.footer{
    /* width: 1440px; */
    /* height: 312px; */
    background: var(--navy-blue);
    padding: 100px 0;
}

.logo-footer{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
    display: inline-block;
    margin-bottom: 16px;
}

.logo-span-footer{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.footer-p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    /* margin-top: 16px; */
    max-width: 264px;
}

.container{
    max-width: 1158px;
    margin: 0 auto;      
    padding: 0 15px;     
}
.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* test */